.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-container {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  color: black;
  font-size: 16px;
  margin-bottom: 1rem;
}

.modal-content {
  padding: 0 0.5rem;
}

.modal-image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .modal-image {
    max-width: 42rem;
  }
}
